<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" parallel="classes">
    <test verbose="2" preserve-order="true" name="YourTestName">
        <classes>
            <class name="UI.SuccessfulLoginTest"/>
            <class name="UI.SuccessfulLogoutTest"/>
            <class name="UI.NavigationBarValidationTest"/>
            <class name="UI.ProfilePersonalInformationTest"/>
            <class name="UI.AddNewDashboardTest"/>
        </classes>
    </test>
<!--    <test name="Test1" parallel="classes">-->
<!--        <classes>-->
<!--            <class name="UI.SuccessfulLoginTest"/>-->
<!--            <class name="UI.NavigationBarValidationTest"/>-->

<!--        </classes>-->
<!--    </test>-->
<!--    <test name="Test2">-->
<!--        <classes>-->
<!--            <class name="UI.SuccessfulLogoutTest"/>-->
<!--        </classes>-->
<!--    </test>-->
</suite>