<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="YourTestName">
        <classes>
            <class name="SuccessfulLoginTest"/>
            <class name="SuccessfulLogoutTest"/>
            <class name="NavigationBarValidationTest"/>
            <class name="ProfilePersonalInformationTest"/>
        </classes>
    </test>
</suite>